
* {
    box-sizing: border-box;
}

.container{
text-align: center;
margin: auto;
padding: 100px;

}

#quizChoice{
    padding-top: 20px;
}

.nowrap {
    
    white-space: nowrap;

}
.btnStart{
    background-color: cornflowerblue;
    color: cornsilk;
}
.btnSubmit{
    background-color: cornflowerblue;
    color: cornsilk;
    
}

.btnAgain{
    align-content: center;
    margin-top: 50px;
}

#countScore{
    position: absolute;
    top: 8px;
    left: 50px;

}
#Timer{
    position: absolute;
    top: 8px;
    right: 70px;

}



@media only screen and (max-width: 600px) {

    max-width: 100%;

}
